<<<<<<< HEAD
.container {
  background-color: #455058
}


.container-fluid {
  background-color: #455058 ;
  color: white;
  border :  1px dashed black
}
body {
  background-color: #A996A3 ;
   
}
=======
div {
  border:1px dashed white;
}

.container-fluid {
  background-color:black;
  color:white;
}

body {
  font:white;
  font-family: Arial, Helvetica, sans-serif;

